:root{
  /*
  --sidebar-bg:#00052a ;
  --sidebar-bg-light:#1e1033 ;
  --sidebar-text:#ca4e64;
  --sidebar-text-light:#ac435b;
  */
  /*
  --sidebar-bg:#100d07;
  --sidebar-bg-light:#1b252a;
  --sidebar-text:#58acf3;
  --sidebar-text-light:#4d94d0;
  */
  --sidebar-bg: hsl(0, 0%, 15%);
  --sidebar-bg-light: hsla(21, 100%, 50%, 1);
  --sidebar-text: #f7f7f7;
  --sidebar-text-light: #e0e0e0;
  --sidebar-highlight-color:var(--sidebar-bg-light);
  --bg-color:var(--sidebar-text);
  --bg-color-dark:var(--sidebar-text-light);
  --text-color:hsl(0,0%,10%);
  --text-color-light:hsl(0,0%,50%);
  --button-bg:var(--sidebar-bg);
  --button-bg-accent:var(--sidebar-bg-light);
  --border-color:rgba(0,0,0,0.1);
  --modal-bg:rgba(0,0,0,0.5);
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height:1.4rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-bg-light);
}

input:focus,button:focus,.focusable:focus{
  outline-style:dashed;
  outline-width:2px;
  outline-color:var(--sidebar-bg-light);
}
textarea:focus{
  outline: none;
}

body,html,.app{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow: hidden;
  background:var(--bg-color);
  color:var(--text-color);
  font-family:'Roboto', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size:16px;
}
.app{
  display:flex;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
code{
  font-family:monospace;
  word-break: break-all;
}
a{
  cursor:pointer;
}
.sidebar{
  font-weight: lighter;
  background:var(--sidebar-bg);
  display:flex;
  flex-direction:column;
  width:12rem;
  overflow-y:auto;
  overflow-x: hidden;
  flex-shrink:0;
  flex-grow:0;
}
input, textarea{
  display:block;
  width:100%;
  background:inherit;
  background-color:var(--bg-color-dark);
  color:var(--text-color);
  border:solid 1px var(--sidebar-text-light);
  min-height:2em;
  font-family:inherit;
  font-size: 1rem;
}

.sidebar-left,.sidebar-right{
  width:100%;
}
.sidebar-right{
  flex-grow:1;
}
.sidebar-left>*,.sidebar-right>*{
  width:100%;
  display:flex;
  flex-direction:column;
}
.sidebar-header{
  color:var(--sidebar-text);
  background:var(--sidebar-bg-light);
  padding:1rem ;
  font-weight:bold;
  text-transform: uppercase;
  font-size:1.2rem;
}
.sidebar-item{
  color:var(--sidebar-text-light);
  padding:0.8rem 0.8rem 0.8rem 2rem;
  border-left:solid 0.5rem transparent;
  box-sizing: border-box;
  display:flex;
}
.sidebar-item__pilled{
  justify-content:space-between;
}
.sidebar-item *{
  overflow: hidden;
  text-overflow: ellipsis;
}

a.sidebar-item:hover{
  /* todo? */
}

.cabal-select,.channel{
  box-sizing:border-box;
}
.cabal-select__active,.channel__active{
  color:var(--sidebar-text);
  font-weight:bolder;
  border-left:solid 0.5rem var(--sidebar-highlight-color);
}
.chat{
  flex-grow:1;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}
.chat>*{
  width:100%;
}
.chat-entries{
  flex: 1 1 auto;
  overflow-y:scroll;
  display:block;
  margin:0;
  padding:0;
}
.chat-entry{
  text-decoration:none;
  margin:0;
  padding:1rem 0;
  margin:0 1rem;
  list-style-type: none;
  display:flex;
  border-bottom:solid 1px var(--border-color);
  position:relative;
  animation:float 0.2s ease-out;
}
@keyframes float {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.chat-entry-content{
  margin-left: 1rem;
}
.chat-entry-info{
  line-height:1em;
  font-weight:lighter;
  color:var(--text-color-light);
}
.chat-entry-info .username{
  font-weight:bolder;
  color:var(--text-color);
}
.chat-text{
  margin-top:0.5rem;
}
.chat-input{
  height:3rem;
  flex: 0 0 auto;
  display:flex;
}
.chat-input textarea{
  height:100%;
  resize:none;
  flex: 1 1 auto;
}
.chat-input button{
  display:block;
}
.avatar{
  display:inline-block;
  width: 2rem;
  height: 2rem;
}
.plus-icon{
  width:1em;
  height:1em;
  position:relative;
  margin:0 0.4em 0 0;
}
.plus-icon::before{
  content:"";
  position:absolute;
  top:0.4em;
  height:0.2em;
  width:100%;
  display:block;
  background-color:currentcolor;
}
.plus-icon::after{
  content:"";
  position:absolute;
  left:0.4em;
  width:0.2em;
  height:100%;
  display:block;
  background-color:currentcolor;
}
.loader{
  z-index:9;
  position: absolute;
  background:var(--modal-bg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation:loader-fade-in 1s ease-out;
}
@keyframes loader-fade-in{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.loader::after{
  content:"⟳";
  display:block;
  width:5rem;
  height:5rem;
  line-height:100%;
  font-size: 5rem;
  animation:spin 1s linear infinite;
}
@keyframes spin{
  0%{
    transform:rotate(0);
  }
  100%{
    transform:rotate(360deg);
  }
}
.modal-background{
  z-index:10;
  position: absolute;
  background:var(--modal-bg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal{
  font-weight: normal;
  font-size:1.2rem;
  line-height:1.5rem;
  background:var(--bg-color);
}
.modal-content{
  display:block;
  padding:1rem 2rem;
}
.modal-content *{
  margin:1rem 0;
}
.modal-bottom{
  display:flex;
  align-items:center;
  padding:0 2rem 1rem;
  justify-content:space-between;
}
button{
  text-transform:uppercase;
  background:var(--button-bg);
  color:var(--sidebar-text);
  border:none;
  cursor:pointer;
  font-size:1.2rem;
  padding:0.6rem 1.2rem;
}
button.button__accent,.remove-cabal{
  background:var(--button-bg-accent);
}
button.button__small,{
  padding:0.2rem 0.4rem;
}
.remove-cabal{
  width:1rem;
  height:1rem;
  padding:0;
  font-weight:bold;
  text-align:center;
  line-height:1rem;
  flex-shrink: 0;
}
