:root{
  --bg-color:#fff;
  --text-color:#222;
  --border-color:rgba(0,0,0,0.25);
}

body,html,.app{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow: hidden;
  background:var(--bg-color);
  color:var(--text-color);
  font-family:'Roboto', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size:15px;
}
.app{
  display:flex;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
.sidebar{
  display:flex;
  flex-direction:row;
}
.sidebar-left,.sidebar-right{
  height:100%;
}
.sidebar-left>*,.sidebar-right>*{
  width:100%;
  display:block;
}
.sidebar-right{
  background:#99b;
}
.channels>*{
  display:block;
}
.channel{
  font-weight:lighter;
}
.channel.channel__active{
  font-weight:bolder;
}
.cabals{
  display:flex;
  flex-direction:column;
}
.chat{
  flex-grow:1;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}
.chat>*{
  width:100%;
}
.chat-entries{
  flex: 1 1 auto;
  overflow-y:scroll;
  display:block;
  margin:0;
  padding:0;
}
.chat-entry{
  text-decoration:none;
  margin:0;
  padding:0;
  border:solid 1px var(--border-color);
  margin:1rem;
  list-style-type: none;
}
.chat-input{
  height:3rem;
  background:#ffa;
  flex: 0 0 auto;
  display:flex;
}
.chat-input textarea{
  height:100%;
  resize:none;
  flex: 1 1 auto;
  background:var(--bg-color);
  color:var(--text-color);
}
.chat-input button{
  display:block;
}
.chat-time{
  font-weight:lighter;
}
.avatar{
  display:inline-block;
  width:2rem;
  height:2rem;
}
.message-header{
  display:flex;
  flex-direction:row;
  align-items: center;
  border-bottom:solid 1px var(--border-color);
}
.message-header>*{
  display:inline-block;
}
